body {
  background: rgb(190, 187, 187);
}

h1 {
    border: 3px solid rgb(12, 0, 12);
    color: rgb(94, 94, 226);
}

h2 {
    border: 2px solid rgb(97, 38, 190);
    padding: 15px;
}

h3 {
    border: 5px solid rgb(46, 2, 9);
    padding: 20px;
}

img {
    border-radius: 10px;
    border: 1px solid black 
}

a{
    text-decoration: none;
    font-size: 24px;
    color: rgb(8, 2, 2);
}

a:hover {
    text-decoration: underline;
    
}
