* {
    padding: 0;
    margin: 0;    
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: MediumSeaGreen;
}

.container {
    background: rgb(194, 192, 192);
    max-width: 1064px;
    margin: 0 auto;
}
.title-general h1 {
    padding-left: 25px;
    color: rgb(250, 87, 6);
}
/*criando o Header */
header {
    background: white;
    /* Altura */
    height: 130px;
    border-bottom: 5px solid tomato;
    /* Flexbox*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img {
    margin-left: 15px;
    margin-right: 20px;
}

header h2 {
    color: tomato;
    text-transform: uppercase;
    font-size: 50px;

}

/* MENU DO SITE*/
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d9d9d9;
    list-style: none;
}

.menu li {
    border: 3px solid tomato;

    /*Espaçamentos*/
    padding: 18px;
    /* Largura  */
    max-width: 150px;
    width: 100%;
}

.menu li a {
    font-size: 23px;
    text-decoration: none;
    color: black;
    
    text-align: center;
    padding: 18px;
}

.menu li a {
    text-decoration: underline;
}

/*BANNER*/
.banner {
    max-width: 1000px;
    height: 250px;
    border: 5px solid tomato;
    border-radius: 30px;
    margin: 20px;
    /*Cortar Imagem*/
    overflow: hidden;
}

/*Content HOME */
.content-box {
    margin: 20px;
    border: 3px solid tomato;
    border-radius: 10px;
    /*Flexbox*/
    display: flex;
}

.box {
    border: 3px solid tomato;
    max-width: 300px;
    border-radius: 10px;
     /*Cortar Imagem*/
    overflow: hidden;
    margin: 10px 35px 20px 15px;
    /*Sombra*/
    box-shadow: 2px 3px 3px #d3d3d3;
}

.container {
    text-align: center;
    /* Centraliza o conteúdo horizontalmente */
}
.box p {
    padding: 10px;
    color: rgb(43, 240, 240);
}

.box a {
    padding: 0 0 10px 10px;
    display: block;
    color: rgb(7, 23, 241);
    text-decoration: none;
    /*Negrito*/
    font-weight: bold;
}
.box a:hover {
    text-decoration: underline;
}
.box img{
    border-bottom: 1px solid blue;
}
.promocao {
    
    /*flexbox*/
    display: flex;
    justify-content: center;
}
.promocao img {
     max-width: 800px;
    height: 180px;
    border: 5px solid tomato;
    border-radius: 30px;
    margin: 20px;
    /*Cortar Imagem*/
    overflow: hidden;
}

/*Novidades*/
.novidades {
    background-color: rgb(152, 155, 155);
    margin-top: 20px;
    /* Flexbox*/
    display: flex;
    justify-content: space-around;
}
.novidades span {
    font-size: 150px;
}
.novidades article {
    /* Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.novidades form {
    width: 100%;
}
.novidades form input{
    max-width: 400px;
    padding-left: 10px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
}
.novidades form button {
    border: 1px solid blue;
    background: transparent;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    color: blue;
    font-weight: bold;
}
    footer{
        background: #000;
        height: 40px;
        /*Flexbox*/
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer p {
        color: #fff;
    }

    /*Pagina Sobre*/
    .spaceSobre, .spaceContato {
        margin: 20px 0 20px 0;
    }
    .containerLista {
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .containerLista details {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
    }

    .containerLista article {
        margin-top: 8px;
        color: blue;
    }
    /*Página contato*/
    .text-contato {
        margin: 0 0 20px 20px;
        font-size: 42px;

    }
    .text-contato strong {
        color: blue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    form {
        margin: 20px;
       
    }
    .form-group {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .form-group select {
        height: 30px;
        width: 100%;
        max-width: 300px;
        border-radius: 8px;
    }
    .form-group label {
        font-weight: bold;
        display: inline-block;
        margin-right: 20px;

}
    .form-group input {
        border:  1px solid blueviolet;
        width: 100%;
        max-width: 600px;
        height: 30px;
        border: 2px solid #bcbaba;
        outline: none;
        padding-left: 5px;
        border-radius: 7px;
    }
    .form-group-sexo label {
        display: inline-block;
        margin-top: 10px;
    }
    legend {
        padding: 10px;
        display: inline-block;
        font-size: 18px;
    }
    .form-group-info {
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .form-control-padrao {
        width: 100%;
        max-width: 50px;
        height: 30px;
        border: 2px solid #bcbaba;
        outline: none;
        padding-left: 5px;
        border-radius: 7px;
    }

    .comentario {
        width: 100%;
        max-width: 3000px;
        height: 150px;
        border: 2px solid #bcbaba;
        outline: none;
        padding-left: 5px;
        border-radius: 7px;
        display: block;
        margin-top: 10px;
        padding-top: 5px;
}
.title {
    color: black;
    font-weight: bold;
}
.btn-enviar {
    background: black;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}
