* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(126, 73, 179);
}

.container {
    background: rgb(236, 231, 231);
    max-width: 1064px;
    margin: 0 auto;
}
.title-general h1 {
    padding-left: 25px;
    color: orangered;
}
/*criando o Header */
header {
    background: rgb(243, 53, 5);
    /* Altura */
    height: 130px;
    border-bottom: 5px solid rgb(8, 8, 8);
    /* Flexbox*/
    display: flex;
    align-items: center;
}

header img {
    margin-left: 15px;
    margin-right: 20px;
}

header h2 {
    color: rgb(1, 9, 15);
    text-transform: uppercase;
    font-size: 50px;

}

/* MENU DO SITE*/
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(180, 199, 199);
}

.menu li {
    border: 3px solid rgb(15, 15, 15);

    /*Espaçamentos*/
    padding: 18px;
    /* Largura  */
    max-width: 150px;
    width: 100%;
}

.menu li a {
    font-size: 23px;
    text-decoration: none;
    color: black;
    
    text-align: center;
    padding: 18px;
}

.menu li a {
    text-decoration: underline;
}

/*BANNER*/
.banner {
    max-width: 1000px;
    height: 250px;
    border: 5px solid black;
    border-radius: 30px;
    margin: 20px;
    /*Cortar Imagem*/
    overflow: hidden;
}

/*Content HOME */
.content-box {
    margin: 20px;
    border: 3px solid rgb(10, 10, 10);
    border-radius: 10px;
    /*Flexbox*/
    display: flex;
}

.box {
    border: 3px solid rgb(6, 22, 243);
    max-width: 300px;
    border-radius: 10px;
     /*Cortar Imagem*/
    overflow: hidden;
    margin: 10px 35px 20px 15px;
    /*Sombra*/
    box-shadow: 2px 3px 3px #d3d3d3;
}

.container {
    text-align: center;
    /* Centraliza o conteúdo horizontalmente */
}
.box p {
    padding: 10px;
    color: aqua;
}

.box a {
    padding: 0 0 10px 10px;
    display: block;
    color: rgb(7, 23, 241);
    text-decoration: none;
    /*Negrito*/
    font-weight: bold;
}
.box a:hover {
    text-decoration: underline;
}
.box img{
    border-bottom: 1px solid blue;
}
.promocao {
    
    /*flexbox*/
    display: flex;
    justify-content: center;
}
.promocao img {
     max-width: 800px;
    height: 180px;
    border: 5px solid black;
    border-radius: 30px;
    margin: 20px;
    /*Cortar Imagem*/
    overflow: hidden;
}

/*Novidades*/
.novidades {
    background-color: rgb(30, 203, 247);
    margin-top: 20px;
    /* Flexbox*/
    display: flex;
    justify-content: space-around;
}
.novidades span {
    font-size: 150px;
}
.novidades article {
    /* Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.novidades form {
    width: 100%;
}
.novidades form input{
    max-width: 400px;
    padding-left: 10px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
}
.novidades form button {
    border: 1px solid blue;
    background: transparent;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    color: blue;
    font-weight: bold;
}
    footer{
        background: #000;
        height: 40px;
        /*Flexbox*/
        display: flex;
        justify-content: center;
    }

    footer p {
        color: #fff;
    }

